.version.index /* version checker */
{
	color: #00000A;
	background-color: #4D78DA;
}

#page
{
	border-color: #000000;
	margin-left: auto;
	width: 100%;
	background-color: transparent;
	margin-right: auto;
	border-width: 0px;
	z-index: 1;
	background-image: none;
}

#u1572
{
	z-index: 12;
	background-color: transparent;
}

#u197-4
{
	font-weight: 400;
	z-index: 2;
	text-align: center;
	font-family: vt323, sans-serif;
	background-color: transparent;
}

#u1313
{
	z-index: 10;
	background-color: transparent;
}

#u1301
{
	z-index: 8;
	background-color: transparent;
}

#u1289
{
	z-index: 6;
	background-color: transparent;
}

#u1313:hover,#u1301:hover,#u1289:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
	filter: alpha(opacity=50);
	min-height: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #000000;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 346px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1000px;
		padding-bottom: 62px;
		max-width: 960px;
	}

	#u197-4
	{
		width: 920px;
		min-height: 37px;
		font-size: 24px;
		line-height: 29px;
		position: fixed;
		top: 552px;
		left: 50%;
		margin-left: -460px;
	}

	#u1289
	{
		width: 70px;
		position: fixed;
		top: 627px;
		left: 50%;
		margin-left: 59px;
	}

	#u1289:hover
	{
		margin-left: 59px;
		margin-right: 0px;
		width: 70px;
	}

	#u1301
	{
		width: 70px;
		position: fixed;
		top: 627px;
		left: 50%;
		margin-left: -35px;
	}

	#u1301:hover
	{
		margin-left: -35px;
		margin-right: 0px;
		width: 70px;
	}

	#u1313
	{
		width: 70px;
		position: fixed;
		top: 627px;
		left: 50%;
		margin-left: -130px;
	}

	#u1313:hover
	{
		margin-left: -130px;
		margin-right: 0px;
		width: 70px;
	}

	#u1572
	{
		width: 551px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -276px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1062px);
	}

}

@media (max-width: 345px)
{
	#muse_css_mq
	{
		background-color: #000159;
	}

	#bp_345.active
	{
		display: block;
	}

	#page
	{
		min-height: 315.55px;
		padding-top: 105px;
		padding-bottom: 62.44999999999999px;
		max-width: 345px;
	}

	#u1572
	{
		position: relative;
		width: 88.41%;
		margin-left: 5.8%;
		left: 0px;
	}

	#u197-4
	{
		min-height: 28px;
		font-size: 18px;
		line-height: 22px;
		margin-top: 47px;
		position: relative;
		width: 95.66%;
		margin-left: 2.18%;
		left: 0px;
	}

	#pu1313
	{
		z-index: 10;
		margin-top: 8px;
		width: 41.74%;
		margin-left: 29.14%;
	}

	#u1313
	{
		position: relative;
		margin-right: -10000px;
		width: 27.09%;
		margin-left: 36.46%;
		left: -53.5px;
	}

	#u1313:hover
	{
		margin-right: -10000px;
		width: 27.09%;
		margin-left: 36.46%;
		left: -53.5px;
	}

	#u1301
	{
		position: relative;
		margin-right: -10000px;
		width: 27.09%;
		margin-left: 36.46%;
		left: -1.5px;
	}

	#u1301:hover
	{
		margin-right: -10000px;
		width: 27.09%;
		margin-left: 36.46%;
		left: -1.5px;
	}

	#u1289
	{
		position: relative;
		margin-right: -10000px;
		width: 27.09%;
		margin-left: 36.46%;
		left: 51.5px;
	}

	#u1289:hover
	{
		margin-right: -10000px;
		width: 27.09%;
		margin-left: 36.46%;
		left: 51.5px;
	}

	#u1572_img,#u1313_img,#u1301_img,#u1289_img
	{
		width: 100%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 539px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 257px;
	}
}

