.version.index /* version checker */
{
	color: #0000E4;
	background-color: #C9303B;
}

#page
{
	margin-right: auto;
	border-color: #000000;
	margin-left: auto;
	padding-top: 62px;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	background-image: none;
	border-width: 0px;
}

#u1526
{
	background-color: transparent;
	left: 0px;
	z-index: 12;
	position: relative;
}

#u1526_img
{
	width: 100%;
}

#u197-4
{
	left: 0px;
	font-weight: 400;
	font-family: vt323, sans-serif;
	background-color: transparent;
	z-index: 2;
	position: relative;
	text-align: center;
}

#pu1313
{
	z-index: 10;
}

#u1313
{
	background-color: transparent;
	z-index: 10;
	margin-right: -10000px;
	position: relative;
}

#u1301
{
	background-color: transparent;
	z-index: 8;
	margin-right: -10000px;
	position: relative;
}

#u1289
{
	background-color: transparent;
	z-index: 6;
	margin-right: -10000px;
	position: relative;
}

#u1313:hover,#u1301:hover,#u1289:hover
{
	margin-right: -10000px;
	opacity: 0.5;
	border-color: #000000;
	min-height: 0px;
	margin-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-top: 0px;
	filter: alpha(opacity=50);
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 346px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 999.9506711409385px;
		padding-bottom: 62.04932885906146px;
		max-width: 960px;
	}

	#u1526
	{
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u197-4
	{
		min-height: 37px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 42px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#pu1313
	{
		width: 26.98%;
		margin-left: 36.52%;
	}

	#u1313
	{
		width: 70px;
		margin-left: 50%;
		left: -130.5px;
	}

	#u1313:hover
	{
		width: 70px;
		margin-left: 50%;
		left: -130.5px;
	}

	#u1301
	{
		width: 70px;
		margin-left: 50%;
		left: -36.5px;
	}

	#u1301:hover
	{
		width: 70px;
		margin-left: 50%;
		left: -36.5px;
	}

	#u1289
	{
		width: 70px;
		margin-left: 50%;
		left: 59.5px;
	}

	#u1289:hover
	{
		width: 70px;
		margin-left: 50%;
		left: 59.5px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1184px);
	}
}

@media (max-width: 345px)
{
	#muse_css_mq
	{
		background-color: #000159;
	}

	#bp_345.active
	{
		display: block;
	}

	#page
	{
		min-height: 359px;
		padding-bottom: 62px;
		max-width: 345px;
	}

	#u1526
	{
		width: 95.95%;
		margin-left: 2.03%;
	}

	#u197-4
	{
		min-height: 28px;
		line-height: 22px;
		font-size: 18px;
		margin-top: 13px;
		width: 95.66%;
		margin-left: 2.18%;
	}

	#pu1313
	{
		margin-top: 6px;
		width: 41.74%;
		margin-left: 29.14%;
	}

	#u1313
	{
		width: 27.09%;
		margin-left: 36.46%;
		left: -53.5px;
	}

	#u1313:hover
	{
		width: 27.09%;
		margin-left: 36.46%;
		left: -53.5px;
	}

	#u1301
	{
		width: 27.09%;
		margin-left: 36.46%;
		left: -1.5px;
	}

	#u1301:hover
	{
		width: 27.09%;
		margin-left: 36.46%;
		left: -1.5px;
	}

	#u1289
	{
		width: 27.09%;
		margin-left: 36.46%;
		left: 51.5px;
	}

	#u1289:hover
	{
		width: 27.09%;
		margin-left: 36.46%;
		left: 51.5px;
	}

	#u1313_img,#u1301_img,#u1289_img
	{
		width: 100%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 537px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 257px;
	}
}

