	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 999.9506711409385px;
		padding-bottom: 62.04932885906146px;
		max-width: 960px;
	}

	#u1526
	{
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u197-4
	{
		min-height: 37px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 42px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#pu1313
	{
		width: 26.98%;
		margin-left: 36.52%;
	}

	#u1313
	{
		width: 70px;
		margin-left: 50%;
		left: -130.5px;
	}

	#u1313:hover
	{
		width: 70px;
		margin-left: 50%;
		left: -130.5px;
	}

	#u1301
	{
		width: 70px;
		margin-left: 50%;
		left: -36.5px;
	}

	#u1301:hover
	{
		width: 70px;
		margin-left: 50%;
		left: -36.5px;
	}

	#u1289
	{
		width: 70px;
		margin-left: 50%;
		left: 59.5px;
	}

	#u1289:hover
	{
		width: 70px;
		margin-left: 50%;
		left: 59.5px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1184px);
	}

